

p.ord{
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px
}
.column{
  padding-left: 120px;
}
.row{
  display: flex;
}
.column{
  flex: 50%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
 

  text-align: center;
  font-size: 30px;
}
.burger{
  background-color: rgb(191, 240, 223);
}
.first{
  background-color: rgb(163, 161, 161);
}
