.First {
    background-color: rgb(202, 198, 198);
}
.Second{
    background-color: rgb(214, 208, 208);
    padding: 30px;
}
.Third{
    background-color: rgb(116, 151, 116);
    padding: 30px;
}

semicircle{
    transform: translatex(50%);
    top: 0%;
    left: 0%;
    width: 70vw;
    height: 70vh;
    background-color: rgb(68, 231, 204);
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;
}